@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="py-5" style="background-color: gray;">
    <div class="container">
        <h2 class="text-center mb-4">Hakkımızda</h2>
        <p>SaüHAVK, Sakarya Üniversitesi'nde havacılığa ve modelciliğe ilgi duyan öğrencilere yönelik bir kulüptür...</p>
    </div>
</section>
